extends ./layout.jade

block container
  form(method="POST", action="/admin/import-lessons", type="form")
    textarea(type="textarea", name="lessons", placeholder="Paste JSON with lessons")
    input(type="submit", value="submit")
  
  if successImport
    div
      | Успех!

  form(method="POST", action="/admin/create-user", type="form")
    textarea(type="textarea", name="user", placeholder="Paste JSON with user data")
    input(type="submit", value="submit")

  if successUserCreation
    div
      | Успех!