extends ./layout.jade

block container
  form(method="POST", type="form")
    input(type="hidden", name="_csrf", value="#{csrf}")
    input(type="login", name="username", placeholder="username")
    input(type="password", name="password", placeholder="password")
    input(type="submit", value="Login")
